/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* Base light theme */
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 10%;
  --input: 240 5% 90%;
  --primary: 220 90% 60%;
}

/* Default dark theme */
.theme-dark {
  --background: 240 10% 4%;
  --foreground: 0 0% 98%;
  --input: 240 5% 16%;
  --primary: 220 90% 60%;
}

/* Other themes */
.theme-dark-blue {
  --background: 220 12% 8%;
  --foreground: 0 0% 98%;
  --input: 220 10% 15%;
  --primary: 200 90% 60%;
}

.theme-dark-purple {
  --background: 270 10% 10%;
  --foreground: 0 0% 98%;
  --input: 270 10% 18%;
  --primary: 280 80% 65%;
}
